/* css reset */
html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
select,
option,
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* modal */
.hidden {
  display: none;
}

#modal {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-screen {
  z-index: 998;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content {
  z-index: 999;
  position: absolute;
  background: white;
  border-radius: 10px;
  font-size: 20px;
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
  text-align: center;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.modal-message {
  width: 100%;
  height: 20%;
}

.modal-message > p {
  font-family: 'Mansalva', cursive;
  color: #F58248;
  font-size: 72px;
  margin-bottom: 20px;
}

#play-again-button {
  width: 200px;
  height: 54px;
  font-size: 25px;
  background-color: #4BAEA0;
  color: white;
  border-radius: 4px;
  margin: 10px 0px;
  position: relative;
}

#play-again-button:hover {
  top: -5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.mondal-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

/* body setup */
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  background-image: url("../assets/web_background_4.png");
  overflow: scroll;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 25px 0;
}

.icon {
  margin-right: 25px;
  margin-left: 25px;
}

.medium.icon {
  height: 45px;
  width: 45px;
}

.light.icon {
  opacity: 0.5;
}

.icon > img {
  height: 100%;
  width: 100%;
}

.game-title {
  width: 100%;
  text-align: center;
  font-family: 'Mansalva', cursive;
  color: #F58248;
  font-size: 88px;
  padding-bottom: 25px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 10%;
  width: 100%;
  margin: 25px 0;
  color: #3C3C3C;
}

.main-content{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-img.container, .right-img.container {
  width: 200px;
  margin: 20px;
}

.left-img.container > img, .right-img.container >img {
  width: 100%;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* game */
#game-canvas {
  height: 600px;
  width: 800px;
  border-radius: 10px;
  border: 15px solid #4BAEA0;
  background-image: url('../assets/background.png');
  background-size: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* test */
#top-bar {
  width: 100%;
  height: 75px;
  border-bottom: 2px solid #4BAEA0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timer-container {
  height: 100%;
  width: 150px;
  border: 1px solid black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score {
  height: 100%;
  width: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mansalva', cursive;
  font-size: 40px;
}

#customer-lost {
  height: 100%;
  width: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#customer-lost > img {
  width: 30%;
  height: auto;
}

#counter {
  width: 100%;
  height: 220px;
  background: #4BAEA0;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  width: 363px;
  height: 161px; 
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#menu > .menu-first-row, #menu > .menu-second-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item {
  width: 75px;
  height: 75px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-item:hover, .bento-item:hover, .hover {
  top: -5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-item > img, .bento-item > img {
  width: 100%;
}

#bento-container {
  width: 233px;
  height: 160px;
  border: 1px solid black;
}

#bento {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background: #80523F;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.bento-4 {
  width: 160px;
  height: 160px;
  border-radius: 8px;
}

.bento-6 {
  width: 233px;
  height: 160px;
  border-radius: 8px;
}

.bento-item {
  width: 65px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* customer */
#main-interaction-container {
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#main-interaction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#speech-container {
  width: 275px;
  height: 175px;
  border: 1px solid black;
}

#customer-container {
  width: 280px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#customer-container > img {
  height: 100%;
  width: auto;
}

#speech-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-bubble {
	position: relative;
	background: #FFFBED;
  border: 5px solid #4E5660;
  border-radius: 20px;
  width: 225px;
  height: 175px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.speech-bubble::before {
	content: '';
	position: absolute;
	right: 0;
	top: 75px;
	width: 0;
	height: 0;
	border: 30px solid transparent;
  border-left-color: #4E5660;
	border-right: 0;
	margin-top: -20px;
  margin-right: -30px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 75px;
	width: 0;
	height: 0;
	border: 30px solid transparent;
  border-left-color: #FFFBED;
	border-right: 0;
	margin-top: -20px;
  margin-right: -20px;
}

.order-container {
  position: absolute;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  background: #80523F;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.order-container.box-6 {
  width: 182.03px;
  height: 125px;
}

.order-container.box-4 {
  width: 125px;
  height: 125px;
}

.order-item {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-item > img {
  width: 100%;
  height: 100%;
}

/* Media-query */
@media only screen and (max-width: 568px) {
  .left-img.container, .right-img.container {
    display: none;
  }
  #game-canvas {
    height: 100vh;
    width: calc(100vh * 4 /3);
    border-radius: 8px;
    border: 10px solid #4BAEA0;
  }
  
  #top-bar {
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #4BAEA0;
  }

  #counter {
    width: 100%;
    height: 36%;
    justify-content: space-around;
    padding: 0;  
  }

  #menu {
    width: 50%;
    height: 80%;
  }

  #bento-container {
    height: 80%;
    width: auto;
  }

  .menu-item {
    width: 45px;
    height: 45px;
    border-radius: 4px;
  }

  #main-interaction-container {
    height: 54%;
  }

  #main-interaction {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  #speech-container {
    width: auto;
    height: 80%;
  }

  #customer-container {
    width: auto;
    height: 80%;
  }

  .bento-item {
    width: 40px;
    height: 40px;
  }

  .bento-4 {
    width: 100px;
    height: 100px;
    padding: 5%;
  }

  .bento-6 {
    width: 150px;
    height: 100px;
    padding: 5%;
  }

  .speech-bubble {
    border: 2px solid #4E5660;
    border-radius: 10px;
    width: 175px;
    height: 125px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .speech-bubble::before {
    top: 75px;
    border: 15px solid transparent;
    border-left-color: #4E5660;
    margin-top: -20px;
    margin-right: -30px;
  }

  .speech-bubble:after {
    top: 80px;
    border: 10px solid transparent;
    border-left-color: #FFFBED;
    margin-top: -20px;
    margin-right: -20px;
  }

  .order-container {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 5px;
  }

  .order-container.box-6 {
    width: 150px;
    height: 100px;
  }

  .order-container.box-4 {
    width: 100px;
    height: 100px;
  }

  .order-item {
    width: 40px;
    height: 40px;
  }

}

/* #game-canvas > img {
  height: 275px;
  width: auto;
  float: right;
  margin-right: 50px;
} */

/* .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
} */

/* @-webkit-keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
} */

/* @keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
} */

/* @-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
} */
